[Unit]
Description=Infisical Agent
After=fetch-bootstrap-secrets.service
Requires=fetch-bootstrap-secrets.service
ConditionPathExists=/run/secrets/infisical-client-id
ConditionPathExists=/run/secrets/infisical-client-secret

[Container]
Image=docker.io/infisical/cli:0.43.110@sha256:669995d67539663a0437fb6aefcffd0c12a8c124ecd0b839b8f845eaa7539fb8
Entrypoint=infisical
Exec=agent --config /etc/infisical/agent-config.yaml
Volume=/run/secrets/infisical-client-id:/run/secrets/client-id:ro,z
Volume=/run/secrets/infisical-client-secret:/run/secrets/client-secret:ro,z
Volume=/opt/secrets:/opt/secrets:z
Volume=/root/.config/infisical:/etc/infisical:ro,Z
ReadOnly=true
Tmpfs=/tmp
DropCapability=ALL
PodmanArgs=--security-opt=no-new-privileges

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
