[Unit]
Description=Infisical Agent
After=fetch-bootstrap-secrets.service
Requires=fetch-bootstrap-secrets.service
ConditionPathExists=/run/secrets/infisical-client-id
ConditionPathExists=/run/secrets/infisical-client-secret

[Container]
Image=docker.io/infisical/cli:0.43.57@sha256:4f9ac03b6fdab1cfdf49b464d2f810336bd94060b03b2c788fc69187e0d81fa9
Entrypoint=infisical
Exec=agent --config /etc/infisical/agent-config.yaml
Volume=/run/secrets/infisical-client-id:/run/secrets/client-id:ro,z
Volume=/run/secrets/infisical-client-secret:/run/secrets/client-secret:ro,z
Volume=/opt/secrets:/opt/secrets:z
Volume=/root/.config/infisical:/etc/infisical:ro,Z
ReadOnly=true
Tmpfs=/tmp
DropCapability=ALL
PodmanArgs=--security-opt=no-new-privileges

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
