[Unit]
Description=Traefik Reverse Proxy
After=fetch-config.service network-online.target traefik-network.service
Wants=network-online.target
Requires=fetch-config.service traefik-network.service

[Container]
Image=docker.io/traefik:v3.6.13@sha256:5e113a222e0a43c112bd8caeb0dfb42685be2c2eb190c79176c99c1259e4fa10
PublishPort=80:80
Volume=/root/.config/traefik:/etc/traefik:ro,Z
Network=traefik
ReadOnly=true
Tmpfs=/tmp
DropCapability=ALL
AddCapability=NET_BIND_SERVICE
PodmanArgs=--security-opt=no-new-privileges

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
