[Unit]
Description=Traefik Reverse Proxy
After=fetch-config.service network-online.target traefik-network.service
Wants=network-online.target
Requires=fetch-config.service traefik-network.service

[Container]
Image=docker.io/traefik:v3.6.9@sha256:9004e1cd1e33c5eb0b6ec02bc6cfda61fe9caca36751114b1c9c6662f01b264a
PublishPort=80:80
Volume=/root/.config/traefik:/etc/traefik:ro,Z
Network=traefik
ReadOnly=true
Tmpfs=/tmp
DropCapability=ALL
AddCapability=NET_BIND_SERVICE
PodmanArgs=--security-opt=no-new-privileges

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
