[Unit]
Description=Traefik Reverse Proxy
After=fetch-config.service network-online.target traefik-network.service
Wants=network-online.target
Requires=fetch-config.service traefik-network.service

[Container]
Image=docker.io/traefik:v3.6.7@sha256:a9890c898f379c1905ee5b28342f6b408dc863f08db2dab20e46c267d1ff463a
PublishPort=80:80
Volume=/root/.config/traefik:/etc/traefik:ro,Z
Network=traefik
ReadOnly=true
Tmpfs=/tmp
DropCapability=ALL
AddCapability=NET_BIND_SERVICE
PodmanArgs=--security-opt=no-new-privileges

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
