networks:
  traefik:
    external: true

services:
  redlib:
    container_name: redlib
    image: quay.io/redlib/redlib:sha-ba98178@sha256:c896483d2766f4a5a7ee020513e419a4a7e0159dcf666ea252ac77bb91aa5a3a
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /tmp
    env_file:
      - /opt/secrets/redlib.env
    environment:
      - REDLIB_DEFAULT_THEME=gold
      - REDLIB_DEFAULT_FRONT_PAGE=default
      - REDLIB_DEFAULT_LAYOUT=compact
      - REDLIB_DEFAULT_WIDE=on
      - REDLIB_DEFAULT_POST_SORT=hot
      - REDLIB_DEFAULT_COMMENT_SORT=old
      - REDLIB_DEFAULT_SHOW_NSFW=on
      - REDLIB_DEFAULT_BLUR_NSFW=off
      - REDLIB_DEFAULT_USE_HLS=on
      - REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION=off
      - REDLIB_DEFAULT_AUTOPLAY_VIDEOS=on
      - REDLIB_DEFAULT_HIDE_AWARDS=off
      - REDLIB_DEFAULT_DISABLE_VISIT_REDDIT_CONFIRMATION=off
    networks:
      - traefik
