services:
  redlib:
    container_name: redlib
    image: quay.io/redlib/redlib:sha-ba98178
    restart: unless-stopped
    env_file:
      - /opt/secrets/redlib.env
    environment:
      - REDLIB_DEFAULT_THEME=gold
      - REDLIB_DEFAULT_FRONT_PAGE=default
      - REDLIB_DEFAULT_LAYOUT=compact
      - REDLIB_DEFAULT_WIDE=on
      - REDLIB_DEFAULT_POST_SORT=hot
      - REDLIB_DEFAULT_COMMENT_SORT=old
      - REDLIB_DEFAULT_SHOW_NSFW=on
      - REDLIB_DEFAULT_BLUR_NSFW=off
      - REDLIB_DEFAULT_USE_HLS=on
      - REDLIB_DEFAULT_HIDE_HLS_NOTIFICATION=off
      - REDLIB_DEFAULT_AUTOPLAY_VIDEOS=on
      - REDLIB_DEFAULT_HIDE_AWARDS=off
      - REDLIB_DEFAULT_DISABLE_VISIT_REDDIT_CONFIRMATION=off
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.redlib.rule=Host(`${REDLIB_HOST}`)"
      - "traefik.http.services.redlib.loadbalancer.server.port=8080"
