networks:
  traefik:
    external: true
  freshrss-feeds:
    external: true
  internal:
    name: nitter_default

services:
  nitter:
    container_name: nitter
    image: docker.io/zedeus/nitter:51b54852dcf617c6131376a469c537ab6b8326e3-arm64@sha256:8938fcd9ee2209b3bf1abcf6ed32b53003868dd1fcce0d76b5a0269029007c48
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /tmp
    depends_on:
      - valkey
    volumes:
      - /opt/secrets/nitter.conf:/src/nitter.conf:ro,z
      - /opt/secrets/nitter-sessions.jsonl:/src/sessions.jsonl:ro,z
    environment:
      - NITTER_CONF_FILE=/src/nitter.conf
      - NITTER_SESSIONS_FILE=/src/sessions.jsonl
    networks:
      - traefik
      - freshrss-feeds
      - internal

  valkey:
    container_name: nitter-valkey
    image: docker.io/valkey/valkey:9.0.1-alpine@sha256:6fc73ad5e7556efbc8b3002f6c6a7b0fa0422d6d21ef24a4a3175b74b2972b39
    restart: unless-stopped
    read_only: true
    tmpfs:
      - /tmp
    networks:
      - internal
    volumes:
      - /opt/data/nitter/valkey:/data:z
