networks:
  traefik:
    external: true
  freshrss-feeds:
    external: true
  internal:
    name: nitter_default

services:
  nitter:
    container_name: nitter
    image: docker.io/zedeus/nitter:51b54852dcf617c6131376a469c537ab6b8326e3-arm64@sha256:8938fcd9ee2209b3bf1abcf6ed32b53003868dd1fcce0d76b5a0269029007c48
    restart: unless-stopped
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
    depends_on:
      - valkey
    volumes:
      - /opt/secrets/nitter.conf:/src/nitter.conf:ro,z
      - /opt/secrets/nitter-sessions.jsonl:/src/sessions.jsonl:ro,z
    environment:
      - NITTER_CONF_FILE=/src/nitter.conf
      - NITTER_SESSIONS_FILE=/src/sessions.jsonl
    networks:
      - traefik
      - freshrss-feeds
      - internal

  valkey:
    container_name: nitter-valkey
    image: docker.io/valkey/valkey:9.0.3-alpine@sha256:ad4541b28b017bf4cd83ee057c51aafb21ea32e898e3f3b8b75e268650f2ac20
    restart: unless-stopped
    read_only: true
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
    networks:
      - internal
    volumes:
      - /opt/data/nitter/valkey:/data:z
