networks:
  traefik:
    external: true
  default:

services:
  planka:
    container_name: planka
    image: ghcr.io/plankanban/planka:2.0.1@sha256:0d28490e5a32c0e185431cfbdf7e861b0a62ebb58b94c69dd1fc0d7e7f261670
    restart: unless-stopped
    read_only: true
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
      - /run
      - /app/logs
      - /app/.tmp
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - /opt/data/planka/data:/app/data:z
    env_file:
      - /opt/secrets/planka.env
    environment:
      - DEFAULT_LANGUAGE=en-GB
      - TRUST_PROXY=true
      - OIDC_NAME_ATTRIBUTE=given_name
      - OIDC_ENFORCED=true
      - OIDC_CLAIMS_SOURCE=id_token
      - OIDC_IGNORE_USERNAME=true
    networks:
      - traefik
      - default

  postgres:
    container_name: planka-postgres
    image: public.ecr.aws/docker/library/postgres:18-alpine@sha256:699296dc1ca93a0543e36a150c100e47844154e53e50a087fa994bea2f1dcc35
    restart: unless-stopped
    read_only: true
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETUID
      - SETGID
      - FOWNER
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges:true
    tmpfs:
      - /tmp
      - /run/postgresql
    volumes:
      - /opt/data/planka/postgres:/var/lib/postgresql:z
    env_file:
      - /opt/secrets/planka-postgres.env
    environment:
      - POSTGRES_DB=planka
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d planka"]
      interval: 10s
      timeout: 5s
      retries: 5
