[Unit]
Description=Daily backup timer

[Timer]
OnCalendar=*-*-* 04:00:00
Persistent=true
RandomizedDelaySec=300
Unit=app-backup-wrapper.service

[Install]
WantedBy=timers.target
