[Unit]
Description=Hourly backup timer

[Timer]
OnCalendar=*-*-* *:00:00
Persistent=true
RandomizedDelaySec=300
Unit=app-backup-wrapper.service

[Install]
WantedBy=timers.target
