[Unit]
Description=Daily backup timer

[Timer]
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=1800
Unit=app-backup-wrapper.service

[Install]
WantedBy=timers.target
