[Unit]
Description=App Backup Wrapper
After=network-online.target freshrss.service planka.service

[Service]
Type=oneshot
EnvironmentFile=/opt/secrets/healthcheck-urls.env

ExecStartPre=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null ${HC_BACKUP_URL}/start
ExecStartPre=/usr/bin/systemctl stop freshrss.service
ExecStartPre=/usr/bin/systemctl stop planka.service

ExecStart=/usr/bin/systemctl start autorestic-backup.service

ExecStartPost=/usr/bin/systemctl start freshrss.service
ExecStartPost=/usr/bin/systemctl start planka.service
ExecStartPost=/usr/bin/curl -fsS -m 10 --retry 5 -o /dev/null ${HC_BACKUP_URL}

ExecStopPost=/bin/bash -c 'if [ "$$SERVICE_RESULT" != "success" ]; then curl -fsS -m 10 --retry 5 -o /dev/null ${HC_BACKUP_URL}/fail; fi'

[Install]
WantedBy=multi-user.target
