[Unit]
Description=Fetch bootstrap secrets from OCI Vault
After=network-online.target first-boot.service fetch-config.service
Wants=network-online.target
Requires=fetch-config.service
Before=infisical-agent.service

[Service]
Type=oneshot
StandardOutput=journal+console
StandardError=journal+console
EnvironmentFile=/etc/oci-vault/config
ExecStart=/opt/scripts/fetch-bootstrap-secrets.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
