[Unit]
Description=Warm FreshRSS fulltextrss cache
After=freshrss.service

[Service]
Type=oneshot
ExecStart=/opt/scripts/freshrss-cache-warm.sh
TimeoutStartSec=600
