[Unit]
Description=Login to GHCR
After=infisical-agent.service ghcr-token.path
Requires=infisical-agent.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c '/usr/bin/podman login ghcr.io -u batinicaz --password-stdin < /opt/secrets/ghcr-token'

[Install]
WantedBy=multi-user.target
