[Unit]
Description=LanguageTool
After=traefik.service var-opt-data.mount
Requires=var-opt-data.mount

[Service]
Type=oneshot
WorkingDirectory=/opt/containers/languagetool
ExecStartPre=/opt/scripts/languagetool-ngrams.sh
ExecStart=/usr/bin/podman compose --env-file /opt/env/languagetool.env up -d
ExecStop=/usr/bin/podman compose down
RemainAfterExit=yes
TimeoutStartSec=7200

[Install]
WantedBy=multi-user.target
