api:
  dashboard: false

entryPoints:
  web:
    address: ":80"
    forwardedHeaders:
      trustedIPs:
        - "${LB_SUBNET_CIDR}"

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true

log:
  level: INFO

accessLog: {}
