name: Deploy Tags
run-name: "Deploy ${{ github.ref }}"
on:
  push:
    tags:
      - "v**"
concurrency:
  group: terraform
  cancel-in-progress: false
permissions:
  contents: read
jobs:
  deploy:
    uses: batinicaz/gha/.github/workflows/terraform-apply.yml@24fd80622a741a0490b9641b194c63d9a1a5cd7a # ratchet:batinicaz/gha/.github/workflows/terraform-apply.yml@v1.2.10
    permissions:
      contents: read
      id-token: write
    with:
      working_directory: terraform
    secrets:
      INFISICAL_IDENTITY_ID: ${{ vars.INFISICAL_IDENTITY_ID }}
