http:
  routers:
%{ for name, config in services ~}
    ${name}:
      rule: "Host(`${config.fqdn}`)"
      service: ${name}
%{ endfor ~}

  services:
%{ for name, config in services ~}
    ${name}:
      loadBalancer:
        servers:
          - url: "http://${name}:${config.port}"
%{ endfor ~}
